@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --g-color-line-brand: #F0F424;
}

html,body {
    @apply h-full;
    scrollbar-gutter: stable;
}

body {
    @apply bg-black text-white;
}

main {
    @apply my-32;
}

section {
    @apply my-24;
}

h2 {
    @apply text-3xl md:text-5xl font-semibold;
}

h3 {
    @apply text-xl md:text-4xl font-semibold;
}

*::-webkit-scrollbar {
    @apply size-1;
}

*::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    @apply bg-yellow;
    border-radius: 0;
}

.g-popup {
    @apply bg-zinc-900 rounded-b-lg;
}

.g-text-input__error-icon {
    @apply absolute right-0 top-0;
    color: var(--g-color-line-brand) !important;
}