@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --g-color-line-brand: #f0f424;
  --g-color-base-warning-light: #070707;
  --g-color-text-warning-heavy: #f0f424;
  --g-text-subheader-3-font-size: 20px;
  --g-text-input-placeholder-color: #a1a1aa;
  --g-text-subheader-font-weight: bold;
}

html,
body {
  @apply h-full;
  scrollbar-gutter: stable;
}

body {
  @apply bg-light dark:bg-black dark:text-white;
}

main {
  @apply my-32;
}

section {
  @apply my-24;
}

/* Стилизация полей ввода при автозаполнении */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #141414 inset;
  -webkit-text-fill-color: #ffffff;
}

/* Брендирование выделения текста */

::selection {
  @apply bg-green text-white dark:bg-yellow dark:text-black;
}

/* Стилизация скроллбара */

*::-webkit-scrollbar {
  @apply w-1 h-0;
}

*::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  @apply bg-green dark:bg-yellow;
  border-radius: 0;
}

/* Брендирование Gravity UI */

.g-popup {
  @apply bg-zinc-900 rounded-b-lg;
}

.g-text-input__error-icon {
  @apply absolute right-0 top-0;
  color: var(--g-color-line-brand) !important;
}

.g-toast {
  position: fixed;
  z-index: 100;
}
